@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #313131;
  color: #f2f2f2;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #525252;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  rotate: -20deg;
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 15px;
  margin-left: 15px;
}

/* task list */
.task-list {
  max-width: 640px;
  margin: 20px auto;
}
.task {
  padding: 6px 20px;
  background: #525252;
  margin-top: 20px;
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #ffd859, #63d675);
  border-image-slice: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task.isFav {
  border-image-source: linear-gradient(45deg, #f32b7b, #a62cf2);
}
.task h3, .task .icons {
  display: inline-block;
}
.task .icons {
  text-align: right;
}
.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
}
.task i.active {
  color: #f32b7b;
}

/* filter nav */
.filter {
  width: 640px;
  margin: 10px auto;
  text-align: right;
}
.filter button {
  display: inline-block;
  margin-left: 10px;
  color: #f2f2f2;
  background: #525252;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.8em;
  font-size: 1em;
}

/* new task form */
.new-task-form {
  background: #525252;
  padding: 20px 0;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
form button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}